body,p,dl,dd,blockquote,h1,h2,h3,h4,h5,h6,pre,table,td,th,ul,ol,li,hr,legend,fieldset,input,textarea,img,form{margin:0;padding:0;}
img,iframe{border:none;}
blockquote,q{quotes:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
body{font:16px/1.5 'WenQuanYi Zen Hei' , Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#222;margin:0;}
legend{color:#000;font-size:1em;}
p{margin:0.5em 0; word-wrap:break-word}
li p {text-indent:0; margin-bottom: 0.5em}
h1,h2,h3,h4,h5{color:#111;font-family: 'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', Georgia, serif;font-weight:700; margin-top:0.5em;padding: 3px}
h1{font-size:1.6em;line-height:1;margin-bottom:1em;}
h2{font-size:1.2em;margin-bottom:0.5em; color:#AF183F;}
h3{font-size:1.1em;line-height:1;margin-bottom:0.5em; color:#49138D;}
h4{font-size:1em;line-height:1.25;margin-bottom:0.5em; color:#13538D;}
h5{font-size:1em;font-weight:700;margin-bottom:0.5em; color:#638D13;}
h6{font-size:1em;font-weight:700;}
big{font-size:1.3em;}
small{font-size:.85em;}
strong{color:red;}
em{font-weight:bold; font-style:normal}
code,pre,samp{font-family:Menlo, Consolas, Monaco, "Courier New", Courier, monospace;overflow:auto;word-wrap:break-word;}
code {padding-left:5px; padding-right:5px; color:#000; background:#EEF0EB}
acronym,abbr{border-bottom:1px dotted #000;cursor:help;}
acronym{letter-spacing:.1em;text-transform:uppercase;}
html{background:#fff;color:#000;}
:link:focus,:visited:focus{color:#C63;}
:link{color:#356aa0;text-decoration:none}
:visited{color:#67035a0;text-decoration:none}
:link:hover,:visited:hover{color:#AD7328;text-decoration:underline}
:link:active,:visited:active{color:#356a00;}
table,input{font-size:1em;}html{border:none;}
table{border-collapse:separate;border-spacing:0;}
.hide{position:absolute;left:0;top:-41.66667em;width:.08333em;height:.08333em;overflow:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:block; zoom:1}
.gainlayout{zoom:1;}
span.amp{font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;font-style:italic;font-size:1.1em;}
del{border:.08333em solid #c99;text-decoration:line-through;background:#fdcccc;}
ins{border:.08333em solid #9c9;background:#CFC;}
hr{border:0;height:2px;background:#EDEEED;border-top:1px solid #BCC0B9;clear:both;margin-left: -15em;padding-left: 15em;}
ul, ol {margin: 0 0 1em 2em; }
ul ul, ol ol, ul ol, ol ul {margin-left:2em;}
pre { color: #070606; background-color: #f5f5f5; margin: 1em 0; padding: 0.5em; border: 1px dotted #b7c4d3; line-height: 150%; zoom: 1;}
h2:target, h3:target {  color: #4D80B3; text-shadow:1px 1px 2px #ccc;}
h2, h3, h4, h5, h6 { padding-top: 3px;line-height:1.5em}
h2 {background: #84a1c1; color: #fff; text-shadow: 0 1px 0 #444;}
h3 {background: #cddae8; color: #2d3742; text-shadow: 1px 1px 0 #fff;}